body {
  background-color: #C5BABA;
}

.navbar {
  background-color: #add8e6;
  padding: 1em;
}
.navbar .nav-link {
  color: #f1f1f1;
  font-weight: 500;
}
.navbar .nav-link:hover {
  color: #707070;
}
.navbar .logo-img {
  height: 50px;
  width: auto;
}

.main-title {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  margin-bottom: 0.05em;
  color: #f1f1f1;
  font-weight: 500;
}

.intro-text {
  font-family: "KoHo", sans-serif;
  font-size: 2em;
  margin-bottom: 4em;
  color: #707070;
}

.footer {
  background-color: #707070;
  font-family: "KoHo", sans-serif;
}
.footer p {
  color: #f1f1f1;
  margin-top: 1.5em;
}
.footer .social-icons a {
  margin: 1.5em;
  color: #f1f1f1;
  text-decoration: none;
}

main h1, h3 {
  font-family: "Recursive", sans-serif;
  color: #f1f1f1;
  text-align: center;
  font-weight: 500;
}

main h2 {
  font-family: "Recursive", sans-serif;
  color: #f1f1f1;
  font-weight: 500;
  font-size: 7em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

main p {
  font-family: "KoHo", sans-serif;
  color: #f1f1f1;
  font-size: 1.5em;
  text-align: center;
}

main form {
  padding: 1.5em;
  margin-bottom: 2em;
}

main form p {
  padding: 1.5em;
  margin-bottom: 1.5em;
}

main form .form-control {
  background-color: #add8e6;
  color: #f1f1f1;
}

main form .btn {
  background-color: #add8e6;
  color: white;
  border: none;
}

.about-main {
  text-align: center;
}
.about-main h1 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
}
.about-main .greeting {
  font-family: "KoHo", sans-serif;
  font-size: 1.5em;
  color: #707070;
  width: auto;
}
.about-main .profile-img {
  margin: 1.5em;
  width: 200px;
  height: auto;
}
.about-main .about-text {
  font-family: "KoHo", sans-serif;
  font-size: 1.5em;
  color: #f1f1f1;
  width: auto;
}

.mantra-title {
  text-align: center;
}
.mantra-title h2 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
}

.case-study-page h2 {
  font-family: "Recursive" sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
}

.case-study-page p {
  text-align: center;
}

.case-study-page h3 {
  font-family: "Recursive", sans-serif;
  font-size: 4em;
  color: #f1f1f1;
  font-weight: 500;
}

.case-study-page img {
  width: 100%;
  height: auto;
}

.ads-page {
  text-align: center;
}
.ads-page h2, .ads-page h3, .ads-page p {
  text-align: center;
}

.ads-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.sw-posters-page {
  text-align: center;
}
.sw-posters-page h2, .sw-posters-page h3, .sw-posters-page p {
  text-align: center;
}

.sw-posters-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.digital-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.digital-page h3 {
  font-family: "Recursive", sans-serif;
  font-size: 4em;
  color: #f1f1f1;
  font-weight: 500;
  text-align: center;
}
.digital-page h2, .digital-page p {
  text-align: center;
}