body {
  background-color: black;
}

.navbar {
  background-color: #33b0da;
  padding: 1em;
}
.navbar .nav-link {
  color: black;
  font-weight: 500;
}
.navbar .nav-link:hover {
  color: #f1f1f1;
}
.navbar .logo-img {
  height: 50px;
  width: auto;
}

.main-title {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  margin-bottom: 0.05em;
  color: #f1f1f1;
  font-weight: 500;
}

.intro-text {
  font-family: "KoHo", sans-serif;
  font-size: 2em;
  margin-bottom: 4em;
  color: #f1f1f1;
}

.footer {
  background-color: #33b0da;
  font-family: "KoHo", sans-serif;
}
.footer p {
  color: black;
  margin-top: 1.5em;
}
.footer .social-icons a {
  margin: 1.5em;
  color: #f1f1f1;
  text-decoration: none;
}

main h1, h3 {
  font-family: "Recursive", sans-serif;
  color: #f1f1f1;
  text-align: center;
  font-weight: 500;
}

main h2 {
  font-family: "Recursive", sans-serif;
  color: #f1f1f1;
  font-weight: 500;
  font-size: 7em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
}

main p {
  font-family: "KoHo", sans-serif;
  color: #f1f1f1;
  font-size: 1.5em;
  text-align: center;
}

main form {
  padding: 1.5em;
  margin-bottom: 2em;
}

main form p {
  padding: 1.5em;
  margin-bottom: 1.5em;
}

main form .form-control {
  background-color: #33b0da;
  color: #f1f1f1;
}

main form .btn {
  background-color: #33b0da;
  color: white;
  border: none;
}

main form label {
  color: #f1f1f1;
  font-family: "KoHo", sans-serif;
  font-size: 1.2em;
}

.resume-section a {
  display: block;
  text-align: center;
  margin: 1em auto;
  font-weight: 500;
}

.about-main h1 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
  text-align: center;
}
.about-main .about-text {
  font-family: "KoHo", sans-serif;
  font-size: 1.5em;
  color: #f1f1f1;
  text-align: left;
  max-width: 600px;
  margin-left: 0;
}
.about-main .greeting {
  text-align: center;
  margin-bottom: 5em;
}
.about-main .profile-img {
  margin: 1.5em auto;
  max-width: 350px;
  height: auto;
  display: block;
}

.mantra-page {
  text-align: center;
}
.mantra-page h2 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
}
.mantra-page img {
  margin: 1.5em auto;
  max-width: 1000px;
}

.case-study-page h3 {
  text-align: left;
  font-family: "Recursive", sans-serif;
  color: #f1f1f1;
  font-weight: 500;
  margin-top: 3em;
}
.case-study-page h2 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
}
.case-study-page p {
  font-family: "KoHo", sans-serif;
  color: #f1f1f1;
  font-size: 1.5em;
  text-align: left;
  max-width: 600px;
  margin-top: 1em;
}

.ads-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.ads-page h2 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
  text-align: center;
}
.ads-page h3 {
  font-family: "Recursive", sans-serif;
  font-size: 4em;
  color: #f1f1f1;
  font-weight: 500;
  text-align: left;
}
.ads-page p {
  font-family: "KoHo", sans-serif;
  font-size: 1.5em;
  color: #f1f1f1;
  text-align: left;
}

.sw-posters-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.sw-posters-page h2 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
  text-align: center;
}
.sw-posters-page h3 {
  font-family: "Recursive", sans-serif;
  font-size: 4em;
  color: #f1f1f1;
  font-weight: 500;
  text-align: left;
}
.sw-posters-page p {
  font-family: "KoHo", sans-serif;
  font-size: 1.5em;
  color: #f1f1f1;
  text-align: left;
}

.digital-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
}

.digital-page h3 {
  font-family: "Recursive", sans-serif;
  font-size: 4em;
  color: #f1f1f1;
  font-weight: 500;
  text-align: left;
}
.digital-page h2 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
}

.digital-page p {
  font-family: "KoHo", sans-serif;
  font-size: 1.5em;
  color: #f1f1f1;
  text-align: left;
  margin-bottom: em;
}

.dropcap-page {
  text-align: center;
}
.dropcap-page h1 {
  font-family: "Recursive", sans-serif;
  font-size: 7em;
  color: #f1f1f1;
  margin-top: 0.5em;
  font-weight: 500;
}
.dropcap-page p {
  font-family: "KoHo", sans-serif;
  font-size: 1.5em;
  color: #f1f1f1;
  text-align: center;
  margin-top: 1em;
}
.dropcap-page img {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 1.5em;
}